{% extends "todo_app/base.html" %}

{% block content %}
    <div class="col-4 offset-4">
        <a href="/" class="btn btn-secondary">Zpět</a>
        <div class="card mt-3">
            <div class="card-header">
               <h4>{{ todo_detail.name }}</h4>
            </div>
            <div class="card-body">
                <p>Popis úkolu: {{ todo_detail.description }}</p>
                {% if todo_detail.comment %}
                <p>Komentář k řešení: {{ todo_detail.comment }}</p>
                {% endif %}
                <p>Datum vytvoření úkolu: {{ todo_detail.create_date }}</p>
                <p>Datum k ukončení úkolu: {{ todo_detail.due_date|date:"d.m.Y" }}</p>
                <p>Status: {{ todo_detail.get_status_display }}</p>
                {% if todo_detail.added_by %}
                <p>Vytvořil: {{ todo_detail.added_by }}</p>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="card-footer">
                <a href="/{{ todo_detail.id }}/update/" class="btn btn-secondary">Aktualizovat úkol</a>
                <a href="/{{ todo_detail.id }}/delete/" class="btn btn-secondary">Smazat úkol</a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}