{% extends "todo_app/base.html" %}

{% block content %}
    <div class="col-4 offset-4 mt-5">
        <a href="/" class="btn btn-secondary">Zpět</a><br><br>
        <h4>Vytvořit úkol</h4>
            <form method="post">
                {% csrf_token %}
                Název úkolu: <br> {{ form.name }}<br>
                Popis úkolu: <br> {{ form.description }} <br>
                Status: <br> {{ form.status }} <br>
                Datum ke splnění úkolu: <br> {{ form.due_date }}<br><br>
                <button class="btn btn-primary" type="submit">Odeslat</button>
            </form>
    </div>
{% endblock content %}